{% extends 'base.html.twig' %}

{% block body %}
<html>
<form method="POST" enctype="multipart/form-data">
<Center>
    <h1>Formulaire d'envoi de fichier</h1><br>
        <input type="file" name="fichier"><br></br>
        <br></br><input type="submit" value="Envoyer le fichier">
        </Center>
</form>
</html>
{% endblock %}