<form method="post" action="traitement.php">
   <p>
       <label for="pseudo">Entrez le pseudo :</label>
       <input type="text" name="pseudo" id="pseudo" />
       <br></br>
       <br />
       <label for="pass">Veuillez mettre votre mot de passe :</label>
       <input type="password" name="pass" id="pass" />
       <br></br>
       <input type="submit" value="Envoyer" />
   </p>
</form>