{% extends 'base.html.twig' %}

{% block body %}
<html>
<p>
<body>
        <div id="container">
            <!-- zone de connexion -->
            
            <form action="/traitement" method="POST">
 <Center>
 <h1>Connexion</h1><br></br>
              
                <label><b>Nom d'utilisateur</b></label><br>
                <input type="texte" size="30" placeholder="Entrer le nom d'utilisateur" name="username" required>
<br>
                <br><label><b>Mot de passe</b></label><br>
                <input type="password" size="30" placeholder="Entrer le mot de passe" name="password" required>
<br></br>
                <input type="submit" id='submit' value='Connexion'>
              </Center> 
            </form>
            </div>
            </body>
</html>
{% endblock %}

