{% extends 'base.html.twig' %}

{% block body %}
<html>
<p>
<body>
<Center>
<h1>Bienvenue</h1> <br> <h3>{{login}}</h3> </br>
<I><b><br>{{ms}}</br></b></I>
</Center>
            </body>
</html>
{% endblock %}

